.apartments-section {
    padding: 2rem 4rem;
    text-align: center;
    /*background-color: #DFE3E7;*/
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .section-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 2rem;
  }
  
  .apartments-grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  